<!-- Begin Navigation include -->
<nav class="col col-12 col-xl-2 bg-black navbar navbar-expand-xl navbar-dark flex-xl-column pt-xl-0">
    <div class="container-fluid flex-xl-column align-items-stretch sticky-top">
        <div class="d-none d-xl-block my-3">
            <a href="{{ '/' | relative_url }}">
                <img class="img-fluid" src="{{ '/assets/img/logo.png' | relative_url }}"></img>
            </a>
        </div>
        <a class="navbar-brand d-none d-md-block" href="{{ '/' | relative_url }}"><h3 class="mb-0">Keizaal</h3></a>
        <a class="d-md-none col-8" href="{{ '/' | relative_url }}"><img class="img-fluid" alt="Keizaal: A Simple Modlist" src="{{ '/assets/img/banner.png' | relative_url }}"/></a>
        <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#sidebarMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="sidebarMenu">
            <ul class="navbar-nav flex-column w-100">
                <li class="nav-item"><a class="nav-link" href="{{ '/' | relative_url }}">Main Page</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ '/installation' | relative_url }}">Installation</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ '/troubleshooting' | relative_url }}">Troubleshooting</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ '/creations' | relative_url }}">Creation Content</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ '/changelog' | relative_url }}">Changelog</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ '/testimonials' | relative_url }}">Testimonials</a></li>
                <h5 class="text-light pt-3" id="contribute-navigation">Contribute</h5>
                <li class="nav-item"><a class="nav-link" href="{{ '/beta' | relative_url }}">Join the Beta Test</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ '/bugs' | relative_url }}">Submit a Bug Report</a></li>
                <li class="nav-item"><a class="nav-link" href="https://ko-fi.com/tatetaylor">Buy Me a Coffee</a></li>
                <li class="nav-item"><a class="nav-link" href="https://www.patreon.com/TateTaylor">Become a Patron</a></li>
                <hr>
                <li class="nav-item nav-link disabled">&copy; {{ "now" | date: "%Y" }} Tate Taylor</li>
                <li class="nav-item"><a class="nav-link" href="{{ '/LICENSE.txt' | relative_url }}">CC BY-NC-SA 4.0</a></li>
            </ul>
        </div>
        <div class="d-none d-xl-block my-3">
            <a href="https://www.nexusmods.com/profile/Catir">
                <img class="img-fluid px-3" src="https://tatetayloroh.com/assets/img/branding/nexus/endorsements/catir/Approved.png" alt="Catir Approved">
            </a>
        </div>
    </div>
</nav>
<!-- End Navigation include -->
