<!-- Begin Scripts include -->
<script>
  document.addEventListener("DOMContentLoaded", () => {
    // Show modal based on URL parameter
    const params = new URLSearchParams(window.location.search);
    const source = params.get("from");
    const modals = {
      404: "modal-404",
      kzo: "modal-kzo"
    };
  
    if (modals[source]) {
      const modalElement = document.getElementById(modals[source]);
      if (modalElement) {
        new bootstrap.Modal(modalElement).show();
        history.replaceState({}, "", window.location.pathname);
      }
    }
  
    // Show image preview
    document.querySelectorAll('#article-content img').forEach(img => {
      if (window.innerWidth < 768) {
        // Open Mobile page
        img.style.cursor = 'pointer';
  
        img.addEventListener('click', () => {
          window.location.href = img.src;
        });
      } else {
        // Open Desktop modal
        img.style.cursor = 'pointer';
  
        img.addEventListener('click', () => {
          const modalElement = document.getElementById('modal-image-viewer');
          const modalImage = document.getElementById('modal-image');
  
          if (modalElement && modalImage) {
            modalImage.src = img.src;
            modalImage.alt = img.alt;
  
            const modal = bootstrap.Modal.getOrCreateInstance(modalElement);
            modal.show();
          }
        });
      }
    });
  });
</script>
<!-- End Scripts include -->
