<!-- Begin Scripts include -->
<script>
  document.addEventListener("DOMContentLoaded", () => {
    // Show modal based on URL parameter
    const params = new URLSearchParams(window.location.search);
    const source = params.get("from");
    const modals = {
      404: "modal-404",
      kzo: "modal-kzo"
    };
  
    if (modals[source]) {
      const modalElement = document.getElementById(modals[source]);
      if (modalElement) {
        new bootstrap.Modal(modalElement).show();
        history.replaceState({}, "", window.location.pathname);
      }
    }
  
    // Show image preview
    document.querySelectorAll('#article-content img').forEach(img => {
      if (window.innerWidth < 768) {
        // Open Mobile page
        img.style.cursor = 'pointer';
    
        img.addEventListener('click', () => {
          window.location.href = img.src;
        });
      } else {
        // Open Desktop modal
        img.dataset.bsToggle = 'modal';
        img.dataset.bsTarget = '#modal-image-viewer';
      }
    });
  
    const modal-image-viewer = document.getElementById('modal-image-viewer');
  
    if (modal-image-viewer) {
      modal-image-viewer.addEventListener('show.bs.modal', function (event) {
        const triggerImage = event.relatedTarget;
        const modalImage = modal-image-viewer.querySelector('#modal-image-viewer');
  
        if (triggerImage && modalImage) {
          modalImage.src = triggerImage.src;
          modalImage.alt = triggerImage.alt;
        }
      });
    }
  });
</script>
<!-- End Scripts include -->
