---
---

@import "{{ site.theme }}";

a.buttons {
	padding: 8px 2px 2px 22px;
}

a.wabbajack {
	background: url(../images/wabbajack-small.png) no-repeat 1px;
}

a.mainpage {
	background: url(../images/baseline_article_white_18dp.png) no-repeat 1px;
}

a.screenshots {
	background: url(../images/baseline_photo_white_18dp.png) no-repeat 1px;
}

a.contribute {
	background: url(../images/baseline_add_box_white_18dp.png) no-repeat 1px;
}

a.changelog {
	background: url(../images/baseline_list_white_18dp.png) no-repeat 1px;
}

a.releases {
	background: url(../images/baseline_reorder_white_18dp.png) no-repeat 1px;
}

a.license {
	background: url(../images/baseline_receipt_white_18dp.png) no-repeat 1px;
}

a.aboutMe {
	background: url(../images/favicon18px.png) no-repeat 1px;
}

body {
	color: #FBF8F1;
	background-color: #222222;
	padding: 0 50% 0 0
  
}

.wrapper {
	width: auto;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

header {
	display: flex;
	align-self: start;
	order: 1;
	flex-direction: column;
	position: relative;
	background-color: #101010;
	color: #FBF8F1;
}

div.headertext {
	order: 1;
}

div.header {
	display: flex;
	flex-direction: column;
	align-content: space-evenly;
	order: 2;
}

div.header p {
	margin: 11px 0;
}

section {
	order: 2;
	width: 75%;
}

div.socials {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-content: space-evenly;
	align-items: baseline;
}

h1, h2, h3, h4, h5, h6 {
	color:#FBF8F1;
}

h1, h2, h3, h4 {
    display: block;
    border-bottom: 4px solid #ccc;
    padding-bottom: 5px;
}

h2 {
    border-bottom: 3px solid #ccc;
}

h3 {
    border-bottom: 2px solid #ccc;
}

h4 {
    border-bottom: 1px solid #ccc;
}

a {
	color:#28c3e6;
}

.highlight .nn {
	color: #FBF8F1;
}

.highlight .s {
	color: #FBF8F1;
}

.highlight .py {
	color: #dd1144;
}

.highlight .na {
	color: #E6DB5A;
}

code, pre {
	border-radius:4px;
	font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
	background-color: #526B67;
	color: #FBF8F1;
	padding: 2px 2px 2px 2px;
	margin: 1px 1px 1px 1px;
	font-size:14px;
}

pre {
	padding: 4px 12px;
 	border-radius:4px;
 	overflow: auto;
  	overflow-y: hidden;
  	margin-bottom: 32px;
}
 
a small {
	font-size: 8px;
}

header {
	width: 15%;
}

div.header a.buttons {
	list-style-type: none;
  	width:160px;
	height:15px;
	margin-bottom: 12px;
	margin-right: 6px;
	margin-left: 6px;
	line-height: 1em;
	padding: 6px 6px 6px 7px;

	background: #D58546;
    background: -moz-linear-gradient(top, #D58546 0%, #af540f 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8DAEB5), color-stop(100%,#8DAEB5));
    background: -webkit-linear-gradient(top, #D58546 0%,#af540f 100%);
    background: -o-linear-gradient(top, #D58546 0%,#af540f 100%);
    background: -ms-linear-gradient(top, #D58546 0%,#af540f 100%);
    background: linear-gradient(to top, #D58546 0%,#af540f 100%);
	
	border-radius:4px;
	border:1px solid #0D0D0D;
	
	-webkit-box-shadow: inset 0px 1px 1px 0 rgba(233,2,38, 1);
	box-shadow: inset 0px 1px 1px 0 rgba(233,2,38, 1);
}

div.header a.buttons:hover {
	background: #e5ac80;
	background: -moz-linear-gradient(top, #e5ac80 0%, #950119 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8DAEB5), color-stop(100%,#8DAEB5));
    background: -webkit-linear-gradient(top, #e5ac80 0%,#950119 100%);
    background: -o-linear-gradient(top, #e5ac80 0%,#950119 100%);
    background: -ms-linear-gradient(top, #e5ac80 0%,#950119 100%);
    background: linear-gradient(to top, #e5ac80 0%,#b3672d 100%);
}

div .highlighter-rouge {
	border-radius: 4px;
	padding: 2px 4px;
}

pre.highlight {
	background-color: #526B67;
}

.highlight .nv {
	color: #c5651b;
}

.highlight {
	background: #526B67;
	border-radius:4px;
}

.highlight .err {
    color: #FBF8F1;
       background: #526B67;
}
/*
td li.buttons {
	list-style-type: none;
  	width:132px;
	height:15px;
	margin-bottom: 12px;
	line-height: 1em;
	padding: 6px 6px 6px 7px;

	background: #D58546;
	background: -moz-linear-gradient(top, #D58546 0%, #af540f 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8DAEB5), color-stop(100%,#8DAEB5));
    background: -webkit-linear-gradient(top, #D58546 0%,#af540f 100%);
    background: -o-linear-gradient(top, #D58546 0%,#af540f 100%);
    background: -ms-linear-gradient(top, #D58546 0%,#af540f 100%);
	background: linear-gradient(to top, #D58546 0%,#af540f 100%);
	
	border-radius:4px;
	border:1px solid #0D0D0D;
	
	-webkit-box-shadow: inset 0px 1px 1px 0 rgba(233,2,38, 1);
	box-shadow: inset 0px 1px 1px 0 rgba(233,2,38, 1);
}
*/
li a.buttons {
	color:#ffffff;
}

td li.buttons:hover {
	background: #e5ac80;
	background: -moz-linear-gradient(top, #e5ac80 0%, #950119 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8DAEB5), color-stop(100%,#8DAEB5));
    background: -webkit-linear-gradient(top, #e5ac80 0%,#950119 100%);
    background: -o-linear-gradient(top, #e5ac80 0%,#950119 100%);
    background: -ms-linear-gradient(top, #e5ac80 0%,#950119 100%);
    background: linear-gradient(to top, #e5ac80 0%,#b3672d 100%);
}

section a.buttons {
	width:132px;
	height:15px;
	margin-bottom: 12px;
	line-height: 1em;
	padding: 6px 6px 6px 7px;

	color:#ffffff;

	background: #D58546;
	background: -moz-linear-gradient(top, #D58546 0%, #af540f 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8DAEB5), color-stop(100%,#8DAEB5));
    background: -webkit-linear-gradient(top, #D58546 0%,#af540f 100%);
    background: -o-linear-gradient(top, #D58546 0%,#af540f 100%);
    background: -ms-linear-gradient(top, #D58546 0%,#af540f 100%);
	background: linear-gradient(to top, #D58546 0%,#af540f 100%);
	
	border-radius:4px;
	border:1px solid #0D0D0D;
	
	-webkit-box-shadow: inset 0px 1px 1px 0 rgba(233,2,38, 1);
	box-shadow: inset 0px 1px 1px 0 rgba(233,2,38, 1);
}

section a.buttons:hover {
	background: #e5ac80;
	background: -moz-linear-gradient(top, #e5ac80 0%, #950119 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8DAEB5), color-stop(100%,#8DAEB5));
    background: -webkit-linear-gradient(top, #e5ac80 0%,#950119 100%);
    background: -o-linear-gradient(top, #e5ac80 0%,#950119 100%);
    background: -ms-linear-gradient(top, #e5ac80 0%,#950119 100%);
    background: linear-gradient(to top, #e5ac80 0%,#b3672d 100%);
}


details > summary {
	border-radius:4px;
	background-color: #1e212b;
	border: none;
	cursor: pointer;
}

section div.socials {
	line-height: 40px;
}

img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}

.ko-fi {
	margin: 25px 16px 4px;
}

@media print, screen and (max-width: 1182px) {

	div.wrapper {
	  width:initial;
	  margin:0;
	  display: flex;
	  flex-direction: column;
	  justify-content: space-between;
	  order: column;
	}
 
	header, section, footer {
	  float:none;
	  position:static;
	  width:auto;
	}

	body {
		padding: 0 2% 0 0
	}
   
	header {
		flex-direction: row;
	  	padding-right: initial;
	}
  
	section {
		padding:0px 4% 0px 4%;
	  	margin:0 0 20px;
	}
  
	header a small {
	  display:inline;
	}
  
	header ul {
	  position: initial;
	}

	header ul li.download {
		display:none;
	}
	/*
	header ul li.github {
		display:none;
	}
	
	header ul li.contribute {
		display:none;
	}

	header ul li.changelog {
		display:none;
	}
	*/
}

//to overwrite the original settings as well
/*
@media print, screen and (max-width: 960px) {

	div.wrapper {
		width:initial;
		margin:0;
	}
 
	header, section, footer {
	  	float:none;
	  	position:static;
	  	width:auto;
	}
   
	header {
	  	padding-right: initial;
	}
  
	section {
		padding:0px 4% 0px 4%;
	  	margin:0 0 20px;
	}
  
	header a small {
	  	display:inline;
	}
  
	header ul {
	  	position: initial;
	}

}

*/
