---
---

$base-back-color: #222222 !default;
$base-text-color: #FBF8F1 !default;
$base-link-color: #28c3e6 !default;

$sidebar-back-color: #101010 !default;
$sidebar-text-color: #FBF8F1 !default;

$header-text-color: #FBF8F1 !default;
$header-line-color: #CCCCCC !default;

@import url('https://fonts.googleapis.com/css?family=Arvo:400,700,400italic');

@mixin screen-reader {
   position:absolute;
   left:-100vw;
   top:auto;
   width:1px;
   height:1px;
}

#skip-nav {
   @include screen-reader;
   &:focus {
      display:inline-block;
      width:auto;
      height:auto;
      position:static;
      padding:.25em .5em;
   }
}

body {
	color: $base-text-color;
   font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
   font-size:14px;
   line-height:1.8em;
   
	background-color: $base-back-color;
   min-width:960px;
   width:80%;
   max-width:1280px;
   margin:0 auto;
}

.wrapper{
	width: auto;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

#sidebar {
   width:185px;
   padding:1em;
   margin-right:2em;
   flex:0 0 auto;
   
	display: flex;
	align-self: start;
	flex-direction: column;
	position: fixed;
 	top: 0;
 	left: 0;
 	height: 100vh;
	overflow-y: auto;
	background-color: $sidebar-back-color;
	color: $sidebar-text-color;
}

#sidebar>aside,
#sidebar>nav {
   display:block;
}

#sidebar>* { order: 2; }
#sidebar .site-icons { order: 1; }

#sidebar {
   .site-icons img {
      display:block;
      margin:0 0 1em 0;
      max-width:100%;
   }
   h1 {
      font-size:1rem;
      margin:0 0 .5rem 0;
      padding:0;
   }
   aside {
      margin:1rem 0;
   }
   nav {
      margin:1rem 0;
   
      ul {
         list-style:none;
         padding:0;
         margin:0;
      }
      li {
         display:block;
         margin:.75rem 0 0 0;
         
         a {
            display:block;
            line-height:1em;
            padding:6px 6px 6px 7px;
            color:#ffffff;
            text-decoration:none;

            background: #D58546;
            background: -moz-linear-gradient(top, #D58546 0%, #af540f 100%);
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8DAEB5), color-stop(100%,#8DAEB5));
            background: -webkit-linear-gradient(top, #D58546 0%,#af540f 100%);
            background: -o-linear-gradient(top, #D58546 0%,#af540f 100%);
            background: -ms-linear-gradient(top, #D58546 0%,#af540f 100%);
            background: linear-gradient(to top, #D58546 0%,#af540f 100%);
            
            border-radius:4px;
            border:1px solid #0D0D0D;
            
            -webkit-box-shadow: inset 0px 1px 1px 0 rgba(233,2,38, 1);
            box-shadow: inset 0px 1px 1px 0 rgba(233,2,38, 1);
         }
         a:hover {
            background: #e5ac80;
            background: -moz-linear-gradient(top, #e5ac80 0%, #950119 100%);
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8DAEB5), color-stop(100%,#8DAEB5));
            background: -webkit-linear-gradient(top, #e5ac80 0%,#950119 100%);
            background: -o-linear-gradient(top, #e5ac80 0%,#950119 100%);
            background: -ms-linear-gradient(top, #e5ac80 0%,#950119 100%);
            background: linear-gradient(to top, #e5ac80 0%,#b3672d 100%);
         }
      }
      li:first-child{
         margin-top:0;
      }
   }
   .wj-status {
      img {
         display:block;
         max-width:100%;
      }
   }
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1.5em;
  color: $base-text-color;
  background-color: darken($base-back-color, 5%);
}

th, td {
  padding: 0.75em 1em;
  border: 1px solid lighten($base-back-color, 10%);
  text-align: left;
}

th {
  background-color: lighten($base-back-color, 5%);
  color: $header-text-color;
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: lighten($base-back-color, 2%);
}

tr:hover {
  background-color: lighten($base-back-color, 10%);
}


/* Spotlighted top-tier patron list in the sidebar */
.patron-list {
   list-style:none;
   padding:0;
   margin:0;
   
   .patron {
      display:block;
      margin-bottom:1em;
      
      .name {
         display:block;
         margin-bottom:.25em;
      }
      img {
         display:block;
         width:100%;
         box-sizing:border-box;
         
         padding:5px;
         border:1px solid #CCC;
      }
   }
}

main {
   padding: 2em 2em 2em 200px;
   max-width: 1000px;
   margin: 0 auto;
   h1, h2, h3, h4, h5, h6 {
      color:$header-text-color;
   }
   h1,
   h2,
   h3,
   h4 {
      font-family: Arvo, Monaco, serif;
      font-weight: normal;
      line-height: 1.3em;
      border-bottom: 4px solid $header-line-color;
      padding-bottom: 5px;
   }
   h1 {
      font-size:2rem;
   }
   h2 {
      font-size:1.7rem;
      border-bottom-width: 3px;
   }
   h3 {
      font-size:1.3rem;
      border-bottom-width: 2px;
   }
   h4 {
      border-bottom-width: 1px;
   }
}
header {
   h1 {
      padding-bottom:1rem;
      margin-bottom:1rem;
      border-bottom-width:0px;
      
      img {
         display:block;
         width:100%;
      }
   }
}
article img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}

a {
	color:$base-link-color;
   text-decoration:none;
}

.highlight .nn {
	color: #FBF8F1;
}

.highlight .s {
	color: #FBF8F1;
}

.highlight .py {
	color: #dd1144;
}

.highlight .na {
	color: #E6DB5A;
}

code, pre {
	border-radius:4px;
	font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
	background-color: #526B67;
	color: #FBF8F1;
	padding: 2px 2px 2px 2px;
	margin: 1px 1px 1px 1px;
	font-size:14px;
}

pre {
	padding: 4px 12px;
 	border-radius:4px;
 	overflow: auto;
  	overflow-y: hidden;
  	margin-bottom: 32px;
}
 
a small {
	font-size: 8px;
}


div .highlighter-rouge {
	border-radius: 4px;
	padding: 2px 4px;
}

pre.highlight {
	background-color: #526B67;
}

.highlight .nv {
	color: #c5651b;
}

.highlight {
	background: #526B67;
	border-radius:4px;
}

.highlight .err {
    color: #FBF8F1;
       background: #526B67;
}

details > summary {
	border-radius:4px;
	background-color: #1e212b;
	border: none;
	cursor: pointer;
}


.ko-fi {
	margin: 25px 16px 4px;
}

#site-footer {
  background-color: $base-back-color;
  color: $base-text-color;
  text-align: center;
  padding: 1.5em 2em;
  margin-top: 3em;
  border-top: 1px solid lighten($base-back-color, 10%);
}

#site-footer .footer-content {
  max-width: 1000px;
  margin: 0 auto;
}

#site-footer nav ul {
  list-style: none;
  padding: 0;
  margin: 1em 0 0 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5em;
}

#site-footer nav ul li a {
  color: $base-link-color;
  text-decoration: none;
}

#site-footer nav ul li a:hover {
  text-decoration: underline;
}
