<!doctype html>
<html lang="{{ site.lang | default: 'en-US' }}">
	{% include header.html %}	
	<body>
		<div class="container-fluid text-light">
		    <div class="row d-flex justify-content-center">	
				{% include modals.html %}				
				{% include navigation.html %}
		        <main class="col col-12 col-xl-10 p-0 ms-xl-auto">
		            <div class="container py-4 pb-5">
						<header class="d-none d-md-block mb-4 w-75 mx-auto">
							<img class="img-fluid" alt="Keizaal: A Simple Modlist" src="{{ '/assets/img/banner.png' | relative_url }}"/>
			            </header>
						{{ content }}
					</div>
		        </main>
		    </div>
		</div>
		{% include scripts.html %}
	</body>
</html>
