<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="image" property="og:image" content="https://raw.githubusercontent.com/PierreDespereaux/Keizaal/main/assets/images/branding/Keizaal%20Logo%20Small.png">
{% seo %}
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <link rel="icon" href="https://raw.githubusercontent.com/PierreDespereaux/Keizaal/main/assets/images/branding/Keizaal%20Logo%20Small.png"  type="image/x-icon">
  <body>
    <div class="wrapper">
      <header>
        <div class="headertext">
          <h1 class="header">{{ site.title | default: site.github.repository_name }}</h1>
          <img src="https://raw.githubusercontent.com/PierreDespereaux/Keizaal/main/assets/images/branding/Keizaal%20Discord%20Icon.png" alt="hi" class="inline"/>
          <p class="header">{{ site.description | default: site.github.project_tagline }}</p>
        </div>
        <div class="header">
          <a class="buttons mainpage" href="https://pierredespereaux.github.io/Keizaal/">Main Page</a>
          <a class="buttons mainpage" href="https://pierredespereaux.github.io/Keizaal/INSTALLATIONGUIDE.html">Installation Guide</a>
          <a class="buttons changelog" href="https://pierredespereaux.github.io/Keizaal/TROUBLESHOOTING.html">Troubleshooting</a>
          <a class="buttons changelog" href="https://pierredespereaux.github.io/Keizaal/CHANGELOG.html">Changelog</a>
          <a class="buttons changelog" href="https://pierredespereaux.github.io/Keizaal/CREDITS.html">Credits</a>
          <p>External Links</p>
          <a class="buttons wabbajack" href="{{ site.wabbajack.wabbajack_url }}">Wabbajack</a>
          <a class="buttons aboutMe" href="https://pierredespereaux.github.io/AboutMe/">About Me</a>
          <p> </p>
          <img src="https://img.shields.io/endpoint?label=Total%20Installs&style=for-the-badge&url=https://build.wabbajack.org/metrics/badge/keizaal/total_installs_badge.json" alt="hi" class="inline"/>
          <img src="https://img.shields.io/endpoint?label=List%20Status&style=for-the-badge&url=https://build.wabbajack.org/lists/status/keizaal/badge.json" alt="hi" class="inline"/>
          <p>Current version: 02/08/2021 4.0.2.4<P>
        </div>
      </header>

      <section>
        {{ content }}
      </section>

    </div>
  </body>
</html>
