<!doctype html>
<html lang="{{ site.lang | default: 'en-US' }}">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		{% seo %}
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
		<link rel="stylesheet" href="{{ 'assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes" />
		<meta name="google-site-verification" content="jSueJx3jsZPBZAXLoa0FslQH0cTCV6zv7iYh72gH0aA" />
		<link rel="icon" href="https://keiza.al/assets/img/icon.png"  type="image/x-icon" />
		<!-- Begin Scripts include -->
		{% include scripts.html %}
		<!-- End Scripts include -->
	</head>
	<body>
		<div class="container-fluid text-light">
		    <div class="row">
				<!-- Begin Popups include -->
				{% include popups.html %}
				<!-- End Popups include -->
				<!-- Begin Navigation include -->
				{% include navigation.html %}
				<!-- End Navigation include -->
		        <main class="col col-12 col-md-9 col-xl-10 p-0 ms-md-auto">
		            <div class="container py-4 pb-5">
						<header class="d-none d-md-block mb-4 w-75 mx-auto">
							<img class="img-fluid" alt="Keizaal: A Simple Modlist" src="http://keiza.al/assets/img/banner.png"/>
			            </header>
			            <article id="article-content">
							<div id="content" class="image-{{ page.image_align | default: 'left' }}">
								{% if page.title and page.hide_title != true %}
								<h1>{{ page.title }}</h1>
								<hr>
								{% endif %}
								{{ content }}
							</div>
					    </article>
					</div>
		        </main>
		    </div>
		</div>
	</body>
</html>
